aenum==3.1.15
aiohttp==3.9.3
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
anthropic==0.20.0
anyio==3.7.1
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cohere==4.56
comm==0.2.1
debugpy==1.8.1
decorator==5.1.1
distro==1.8.0
docstring-parser==0.15
e2b==0.14.9
exceptiongroup==1.1.3
executing==2.0.1
fastavro==1.9.4
filelock==3.12.4
Flask==3.0.1
frozenlist==1.4.0
fsspec==2023.9.2
h11==0.14.0
honcho==1.1.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.11.0
ipykernel==6.29.3
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jsonrpcclient==4.0.3
jupyter_client==8.6.0
jupyter_core==5.7.1
kombu==5.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.4
nest-asyncio==1.6.0
openai==1.13.3
packaging==23.2
parso==0.8.3
pexpect==4.9.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
pyzmq==25.1.2
replicate==0.15.4
requests==2.31.0
rich==13.7.1
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
termcolor==2.4.0
tokenizers==0.14.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.4
urllib3==2.0.6
vine==5.1.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1
yarl==1.9.2
zipp==3.17.0
